In [21]:
# refercnfe dataset link(https://archive.ics.uci.edu/dataset/18/pittsburgh+bridges)

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\poppo\Desktop\github ai\end to end by vivek\data-science-projects\pitsburg-bridges\data\bridges.csv' , header = None , names=['identifier', 'river', 'location', 'erected_year','purpose','length','lanes',
                       'clear-g', 't-or-d', 'material', 'span', 'rel', 'type'])

df

,identifier,river,location,erected_year,purpose,length,lanes,clear-g,t-or-d,material,span,rel,type
0,E1,M,3,1818,HIGHWAY,?,2,N,THROUGH,WOOD,SHORT,S,WOOD
1,E2,A,25,1819,HIGHWAY,1037,2,N,THROUGH,WOOD,SHORT,S,WOOD
2,E3,A,39,1829,AQUEDUCT,?,1,N,THROUGH,WOOD,?,S,WOOD
3,E5,A,29,1837,HIGHWAY,1000,2,N,THROUGH,WOOD,SHORT,S,WOOD
4,E6,M,23,1838,HIGHWAY,?,2,N,THROUGH,WOOD,?,S,WOOD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,E84,A,24,1969,HIGHWAY,870,6,G,THROUGH,STEEL,MEDIUM,F,ARCH
104,E91,O,44,1975,HIGHWAY,3756,6,G,THROUGH,STEEL,LONG,F,ARCH
105,E90,M,7,1978,HIGHWAY,950,6,G,THROUGH,STEEL,LONG,F,ARCH
106,E100,O,43,1982,HIGHWAY,?,?,G,?,?,?,F,?
107,E109,A,28,1986,HIGHWAY,?,?,G,?,?,?,F,?

In [3]:
df['type'].value_counts()

type
SIMPLE-T    44
WOOD        16
ARCH        13
SUSPEN      11
CANTILEV    11
CONT-T      10
?            2
NIL          1
Name: count, dtype: int64

In [4]:
df.columns

Index(['identifier', 'river', 'location', 'erected_year', 'purpose', 'length',
       'lanes', 'clear-g', 't-or-d', 'material', 'span', 'rel', 'type'],
      dtype='object')

In [5]:
df.isna().sum()

identifier      0
river           0
location        0
erected_year    0
purpose         0
length          0
lanes           0
clear-g         0
t-or-d          0
material        0
span            0
rel             0
type            0
dtype: int64

In [6]:
df[df == "?"].count()

identifier       0
river            0
location         1
erected_year     0
purpose          0
length          27
lanes           16
clear-g          2
t-or-d           6
material         2
span            16
rel              5
type             2
dtype: int64

In [7]:
for col in df.columns:
    df[col] = df[col].replace("?", np.nan)

In [8]:
df.isna().sum()

identifier       0
river            0
location         1
erected_year     0
purpose          0
length          27
lanes           16
clear-g          2
t-or-d           6
material         2
span            16
rel              5
type             2
dtype: int64

In [9]:
df = df.ffill()

In [10]:
df.isna().sum()

identifier      0
river           0
location        0
erected_year    0
purpose         0
length          1
lanes           0
clear-g         0
t-or-d          0
material        0
span            0
rel             0
type            0
dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

In [12]:
for col in df.columns[:-1]:
    if df[col].dtype == object:
        df[col] = lb.fit_transform(df[col])
    else:
        df[col] = lb.fit_transform(df[col])

In [13]:
df.to_csv(r"C:\Users\poppo\Desktop\github ai\end to end by vivek\data-science-projects\pitsburg-bridges\data\preprocesed_data\processed_data.csv", index=False)