In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import pickle

In [2]:
df = pd.read_csv(r"C:\Users\poppo\Desktop\github ai\end to end by vivek\data-science-projects\chess\data\krkopt_data.csv" , header =None ,
names=['wk_file', 'wk_rank', 'wr_file', 'wr_rank', 'bk_file', 'bk_rank', 'result'])

In [3]:
df.head()

  wk_file  wk_rank wr_file  wr_rank bk_file  bk_rank result
0       a        1       b        3       c        2   draw
1       a        1       c        1       c        2   draw
2       a        1       c        1       d        1   draw
3       a        1       c        1       d        2   draw
4       a        1       c        2       c        1   draw

In [4]:
df.shape

(28056, 7)

In [5]:
df['result'].value_counts()

result
fourteen    4553
thirteen    4194
twelve      3597
eleven      2854
draw        2796
fifteen     2166
ten         1985
nine        1712
eight       1433
seven        683
six          592
five         471
sixteen      390
two          246
four         198
three         81
one           78
zero          27
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28056 entries, 0 to 28055
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   wk_file  28056 non-null  object
 1   wk_rank  28056 non-null  int64
 2   wr_file  28056 non-null  object
 3   wr_rank  28056 non-null  int64
 4   bk_file  28056 non-null  object
 5   bk_rank  28056 non-null  int64
 6   result   28056 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.5+ MB

In [7]:
from sklearn.preprocessing import LabelEncoder


for column in df.columns[:-1]:
    if df[column].dtype == object:
        le = LabelEncoder()
        df[column] = le.fit_transform(df[column])

In [8]:
df.describe()

,wk_file,wk_rank,wr_file,wr_rank,bk_file,bk_rank
count,28056.000000,28056.000000,28056.000000,28056.000000,28056.000000,28056.000000
mean,2.109210,1.854006,3.545766,4.512404,4.026376,4.451811
std,0.936961,0.926414,2.298111,2.282723,2.310279,2.248387
min,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,1.000000,1.000000,2.000000,3.000000,2.000000,3.000000
50%,2.000000,2.000000,4.000000,5.000000,4.000000,4.000000
75%,3.000000,2.000000,6.000000,6.000000,6.000000,6.000000
max,3.000000,4.000000,7.000000,8.000000,7.000000,8.000000

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
x = df.drop(['result'] , axis = 1)
y = df['result']

In [14]:


from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [16]:
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [17]:
y_pred = dt.predict(x_test)

In [18]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        draw       0.80      0.74      0.77       687
       eight       0.82      0.83      0.82       376
      eleven       0.80      0.83      0.82       738
     fifteen       0.81      0.83      0.82       524
        five       0.89      0.85      0.87       130
        four       0.70      0.86      0.78        44
    fourteen       0.87      0.88      0.88      1162
        nine       0.79      0.85      0.82       414
         one       0.86      1.00      0.92        12
       seven       0.78      0.72      0.75       181
         six       0.83      0.77      0.80       151
     sixteen       0.75      0.74      0.75        98
         ten       0.80      0.80      0.80       499
    thirteen       0.84      0.87      0.86      1039
       three       0.82      0.75      0.78        24
      twelve       0.86      0.82      0.84       871
         two       0.94      0.96      0.95        53
        zero       0.82      0.82      0.82        11

    accuracy                           0.83      7014
   macro avg       0.82      0.83      0.82      7014
weighted avg       0.83      0.83      0.83      7014

In [19]:
import pickle

pickle.dump(dt, open(r"C:\Users\poppo\Desktop\github ai\end to end by vivek\data-science-projects\chess\model\model.pkl", "wb"))